{% extends 'main.html' %}

{% block output %}
    <section class="options opt{{ group_id }}">
    <div class="content">
        {{ region.group_region }}
    <div id="container"></div>
    <script type="text/javascript">
anychart.onDocumentReady(function() {

// create column chart
chart = anychart.column();

// turn on chart animation
chart.animation(true);

// set chart title text settings
{#chart.title({{ region.group_region }});#}

// create area series with passed data
    {% autoescape off %}
var series = chart.column(
    {{ country }}
);
    {% endautoescape %}

// set series tooltip settings
series.tooltip().titleFormatter(function() {
    return this.x
});

series.tooltip().textFormatter(function() {
    return parseInt(this.value).toLocaleString()
});

series.tooltip().position('top').anchor('bottom').offsetX(0).offsetY(5);

// set scale minimum
chart.yScale().minimum(0);

// tooltips position and interactivity settings
chart.tooltip().positionMode('point');
chart.interactivity().hoverMode('byX');

// axes titles
chart.xAxis().title('Страна');
chart.yAxis().title('Значение');

// set container id for the chart
chart.container('container');

// initiate chart drawing
chart.draw();

    });
    </script>
    </div>
    </section>
{% endblock %}